<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to My Application</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container-fluid text-center">
<h1>Welcome to My application</h1>
<a class="h2" th:href="@{/users}">Manage Users</a>
    <hr>
     <!-- com-->
    <a class="h2" th:href="@{/authors}">Manage Authors</a>
    <hr>
    <a class="h2" th:href="@{/books}">Manage Books</a>
    <hr>
    <a class="h2" th:href="@{/licenses}">Manage Licenses</a>
</div>
</body>
</html>
